
*{
    margin: 0;
    padding: 0;
}
.navbar{
    height: 80px;
    background-color: rgb(5, 5, 119);
}

.navbar-nav{
   background-color: none; 
   width: 80%;
   
}

.nav-link{
    color: white !important;
}